.footer {
  height: 3rem;
  width: 100vw;
  background-color: grey;
  position: fixed;
  bottom: 0;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border: 1px solid black;
}

.home {
  text-decoration: none;
  color: black;
}

.home:visited {
  color: black;
}
