.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  width: 300px;
  margin: 50px auto;
  border: 4px solid #00bfb6;
  padding: 20px;
  text-align: center;
  font-weight: 900;
  color: #00bfb6;
  font-family: arial;
  position: relative;
}

.card:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid #00bfb6;
  border-top: 10px solid #00bfb6;
  border-bottom: 10px solid transparent;
  right: 20px;
  bottom: -23px;
}

.card:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid #111411;
  border-top: 10px solid #111411;
  border-bottom: 10px solid transparent;
  right: 24px;
  bottom: -13px;
}

.split {
  height: 1px;
  background-color: rgb(46, 46, 46);
  width: 70vw;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.toggle_comments {
  margin-bottom: 1rem;
}

@media screen and (min-width: 376px) {
  .split {
    height: 1px;
    background-color: rgb(46, 46, 46);
    width: 35vw;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
}
