.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title_container {
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: rgb(165, 159, 159);
}

.name {
  font-size: 2rem;
}

.box {
  height: 12vh;
  width: 20vw;
  background-color: yellow;
  border-radius: 12px;
  margin: 10px;
}

.check_in {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.story {
  margin-top: 2rem;
  height: 12vh;
  width: 20vw;
  font-size: 80%;
  background-color: rgb(9, 55, 61);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 3px solid rgb(46, 46, 46);
}

.story_link {
  text-decoration: none;
  color: white;
}

.story_link:hover {
  cursor: pointer;
}

.split {
  height: 2px;
  background-color: rgb(46, 46, 46);
  width: 90vw;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.split_bottom {
  height: 2px;
  background-color: black;
  width: 90vw;
  margin-bottom: 10rem;
  margin-top: 1rem;
}

.create_post {
  color: rgb(117, 139, 211);
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
